<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhA6hFKpTmF0SxflCWUH80Sb_7E8tH8Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>1181695468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashRun.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dash-run-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-run-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1181695468:ios:68ee2f8cc077ef2a93d4c9</string>
</dict>
</plist>